<%- include( '../partials/header') %> 
<div class="container">

    <h1>View All Books</h1>
    <p>Only the site owner should be able to access this</p>

    <div class="main row">
        <section class="col">
            <div class="row">
                <div class="col" id="filters">
                    <%- include('../partials/filters') %>
                </div>
            </div>
        </section>
        <div class="col-9">
            <section class="attribute-group mb-3" id="attribute-one">
                <%- include('../partials/pagination'); %>
                <%#- include( '../partials/results') %> 
                <%- include('../partials/pagination'); %>s
            </section>
        </div>
    </div>
</div>
<%- include( '../partials/footer') %> 

