<%- include( '../partials/header') %> 
<div class="container">
    <div class="row">
        <section class="col-3" id="book-tag-cloud">
            <div class="row">
                <div class="col">
    
                </div>
            </div>
        </section>
        <section class="col-9" id="book-details">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 cover-image">
                                <img src="<%= googleBook.volumeInfo.imageLinks.thumbnail %>" alt="<%= currentBook.title %>" srcset="">
                            </div>
                            <div class="col-md-4 title-author-rating">
                                <h2 class="book-title"><%= currentBook.title %></h2>
                                <h3 class="book-authors">
                                    <% let combinedAuthors = '' %>
                                    <% for(let author of googleBook.volumeInfo.authors) { %>
                                        <% if(googleBook.volumeInfo.authors.indexOf(author) !== (googleBook.volumeInfo.authors.length -1)) { %>
                                            <% combinedAuthors += `${author}, ` %>
                                        <% } else { %>
                                            <% combinedAuthors += author %>
                                        <% } %>
                                    <% } %>
                                    <%= combinedAuthors %>
                            </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<%- include( '../partials/footer') %> 

