<div class="row my-3 pagination">
    <div class="col previousPagination">
        <% if(results.page -1) { %>
            <a href="<%= paginateUrl %><%= results.page - 1 %>"><< Prev</a>
        <% } %>
    </div>
    <div class="col text-center pagesPagination">
        <% if(results.pages > 1 && results.docs.length) { %>
            <% for(let i = 1; i <= results.pages;i++) { %>
                <a href="<%= paginateUrl %><%= i %>"
                    <%= i === results.page ? 'style=color:#000;' : '' %>
                    ><%= i %></a>
            <% } %>
        <% } %>
    </div>
    <div class="col text-right nextPagination">
        <% if((results.page +1) <= results.pages) { %>
            <a href="<%= paginateUrl %><%= results.page + 1 %>">Next >></a>
        <% } %>
    </div>
</div>