<div class="card-columns">
    <%- include( 'book-card') %> 
    <%- include( 'book-card') %> 
    <%- include( 'book-card') %> 
    <%- include( 'book-card') %> 
    <%- include( 'book-card') %> 
</div>